.msg {
    position: relative;
    font-size: 1.3em;
    margin-left: 150px;
    opacity: 0;
}

#output {
    height: 340px;
}

#send_btn {
    margin-right: 10%;
}

#flex_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.control_bar_item {
    margin: 35px;
}

.chart_item {
    max-width: 350px;
    max-height: 250px;
    margin: 35px;
}

