<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foobar</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
</head>
<body>
    <div id="output"></div>
    <button id="connect_btn">Connect</button>
    <div id="chart_wrapper">
        <div class="chart_item">
            <p>CPU usage chart (%):</p>
            <div id="cpu_chart"></div>
        </div>
        <div class="chart_item">
            <p>RAM usage chart (%):</p>
            <div id="ram_chart"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>'
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ static_url("dynamic.js") }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#connect_btn').on('click', wrapper("{{ HOSTNAME }}", "{{ PORT }}"));
    </script>
</body>
</html>